.results-panel{
    white-space: pre-wrap;
}

td .title{
    text-align: center;
}

.title{
    font-size: 200%;
}

.description{
    font-size: 100%;
}

.ui-datalist-content{
    border: none;
}

.panel-titulo{
    text-align: center;
    background: #D5DFEC;
    margin-bottom: 20px;
}

.panel-titulo .titulo{
    font-size: 150%;
}